<section>
  <div class="row 2">
    <div class="col-4 border">
      <ul>
        <li>Clients</li>
        <li>Client look history</li>
        <li>Emergency PIN configuration</li>
        <li>Emergency PIN history</li>
        <li></li>
      </ul>
    </div>
    <div class="col-6 border">
      <div class="row d-flex justify-content-start">
        <div>
          <button mat-button>
            <mat-icon>add</mat-icon>
            New
          </button>
        </div>
        <div>
          <button mat-button>
            <mat-icon>export</mat-icon>
            Export
          </button>
        </div>
        <button mat-button>
          <mat-icon>search</mat-icon>
          Advanced Search
        </button>
      </div>
      <div class="row">
        <!-- <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput placeholder="Enter shared key" />
          </mat-form-field>
        </form> -->
      </div>

      <h3>Clients</h3>
      <table class="table">
        <thead>
          <th>Shared Key</th>
          <th>Bussiness ID</th>
          <th>E-mail</th>
          <th>Phone</th>
          <th>Data Added</th>
          <th>(update)</th>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{ client.sharedKey }}</td>
            <td>{{ client.businessId }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.dateAdded }}</td>
            <td>update</td>
          </tr>
        </tbody>
      </table>

     
    </div>
  </div>
</section>
