<!-- src/app/sidebar/sidebar.component.html -->

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <div class="logo-container">
        <img src="assets/log_alianza.png" alt="Logo" class="logo">
      </div>
      <mat-nav-list>
        <a mat-list-item routerLink="/clients" routerLinkActive="active">Clients</a>
        <a mat-list-item routerLink="/client-look-history" routerLinkActive="active">Client look history</a>
        <a mat-list-item routerLink="/emergency-pin-config" routerLinkActive="active">Emergency PIN configuration</a>
        <a mat-list-item routerLink="/emergency-pin-history" routerLinkActive="active">Emergency PIN history</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  